[submodule "Ziben/External/glfw"]
	path = Ziben/External/glfw
	url = https://github.com/glfw/glfw
[submodule "Ziben/External/glew-cmake"]
	path = Ziben/External/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "Ziben/External/spdlog"]
	path = Ziben/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ziben/External/imgui"]
	path = Ziben/External/imgui
	url = https://github.com/ocornut/imgui
[submodule "Ziben/External/stb"]
	path = Ziben/External/stb
	url = https://github.com/nothings/stb
[submodule "Ziben/External/glm"]
	path = Ziben/External/glm
	url = https://github.com/g-truc/glm
[submodule "Ziben/External/entt"]
	path = Ziben/External/entt
	url = https://github.com/skypjack/entt
[submodule "Ziben/External/freetype"]
	path = Ziben/External/freetype
	url = https://github.com/freetype/freetype
[submodule "Ziben/External/yaml-cpp"]
	path = Ziben/External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Ziben/External/ImGuizmo"]
	path = Ziben/External/ImGuizmo
	url = https://github.com/NavkaGleb/ImGuizmo
[submodule "ZibenEngine/External/entt"]
	path = ZibenEngine/External/entt
	url = https://github.com/skypjack/entt
[submodule "ZibenEngine/External/glfw"]
	path = ZibenEngine/External/glfw
	url = https://github.com/glfw/glfw
[submodule "ZibenEngine/External/glew-cmake"]
	path = ZibenEngine/External/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "ZibenEngine/External/glm"]
	path = ZibenEngine/External/glm
	url = https://github.com/g-truc/glm
[submodule "ZibenEngine/External/yaml-cpp"]
	path = ZibenEngine/External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ZibenEngine/External/stb"]
	path = ZibenEngine/External/stb
	url = https://github.com/nothings/stb
[submodule "ZibenEngine/External/spdlog"]
	path = ZibenEngine/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZibenEngine/External/freetype"]
	path = ZibenEngine/External/freetype
	url = https://github.com/freetype/freetype
[submodule "ZibenEngine/External/imgui"]
	path = ZibenEngine/External/imgui
	url = https://github.com/ocornut/imgui
[submodule "ZibenEngine/External/ImGuizmo"]
	path = ZibenEngine/External/ImGuizmo
	url = https://github.com/NavkaGleb/ImGuizmo
